absl-py==2.1.0
accessible-pygments==0.0.4
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
akracer==0.0.13
akshare==1.13.31
alabaster==0.7.16
algorithms==0.1.4
annotated-types==0.6.0
ansible==9.4.0
ansible-core==2.16.5
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncio==3.4.3
attrs==23.2.0
Automat==22.10.0
Babel==2.14.0
backcall==0.2.0
backtrader==1.9.78.123
baseball_scraper==0.4.10
bcrypt==4.1.2
beautifulsoup4==4.12.3
bible==0.2
black==24.4.2
bleach==6.1.0
blinker==1.7.0
bqplot==0.12.43
cachetools==5.3.3
cassandra-driver==3.29.1
cattrs==23.2.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chess==1.10.0
clarifai==10.5.4
clarifai-grpc==10.6.7
click==8.1.7
clipboard==0.0.4
codecov==2.1.13
colorama==0.4.6
comm==0.2.2
configparser==7.0.0
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.1
copier==9.2.0
coverage==7.4.4
coveralls==4.0.0
cryptography==42.0.5
cssselect==1.2.0
cssutils==2.10.2
cycler==0.12.1
Cython==3.0.10
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
diagrams==0.23.4
discord==2.3.2
discord.py==2.4.0
distlib==0.3.8
dj-static==0.0.5
Django==1.6.1
django-classy-tags==4.1.0
django-js-asset==2.2.0
django-mptt==0.16.0
django-nyt==1.4
django-sekizai==4.1.0
djangorestframework==2.3.9
dnspython==2.6.1
docopt==0.6.2
docutils==0.20.1
dunamai==1.19.2
EasyProcess==1.1
email_validator==2.1.1
emoji==2.12.1
et-xmlfile==1.1.0
executing==2.0.1
fabric==3.2.2
fastapi==0.110.1
fastjsonschema==2.19.1
filelock==3.13.4
fix-yahoo-finance==0.1.37
flake8==7.0.0
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
frozendict==2.4.1
frozenlist==1.4.1
fsspec==2024.3.1
funcy==2.0
future==1.0.0
gast==0.5.4
geographiclib==2.0
geomet==0.2.1.post1
geopy==2.4.1
google-pasta==0.2.0
googleapis-common-protos==1.63.2
graphviz==0.20.3
grpcio==1.62.1
guidata==3.5.0
gunicorn==18.0
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.5
httpie==3.2.2
httpx==0.27.0
hyperlink==21.0.0
idna==3.6
imageio==2.34.1
imageio-ffmpeg==0.4.9
imagesize==1.4.1
imbox==0.9.8
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
inquirerpy==0.3.4
instapy==0.6.8
invoke==2.2.0
ipykernel==6.29.4
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jinja2-ansible-filters==1.3.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpath==0.82.2
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keras==3.1.1
kiwisolver==1.4.5
langchain==0.2.12
langchain-core==0.2.28
langchain-text-splitters==0.2.2
langsmith==0.1.96
libclang==18.1.1
lockfile==0.12.2
logan==0.5.9.1
Logbook==1.7.0.post0
luigi==3.5.0
lxml==5.2.1
lyrics-extractor==3.0.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
MeaningCloud-python==2.0.0
mistune==3.0.2
ml-dtypes==0.4.0
more-itertools==10.3.0
MouseInfo==0.1.3
moviepy==1.0.3
mplfinance==0.12.10b0
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.7
natsort==8.4.0
nbclient==0.7.4
nbconvert==7.16.4
nbformat==5.10.4
neat-python==0.92
nest-asyncio==1.6.0
networkx==3.3
notebook==7.1.3
notebook_shim==0.2.4
numpy==1.26.4
nwslpy==0.0.0.7000
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.0
pandas==2.2.1
pandas-datareader @ git+https://github.com/pydata/pandas-datareader.git@a1cf7a20fe03dd63e930fa5ca1311a57897c9ddd
pandas-flavor==0.6.0
pandocfilters==1.5.1
paramiko==3.4.0
parsel==1.9.1
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pbr==6.0.0
peewee==3.17.1
pexpect==4.9.0
pfzy==0.3.4
pickleshare==0.7.5
pika==1.3.2
pillow==10.3.0
pipenv==2023.12.1
pipreqs==0.5.0
platformdirs==4.2.0
plotly==5.22.0
PlotPy==2.3.0
pluggy==1.5.0
plumbum==1.8.2
plyer==2.1.0
PodSixNet==0.11.0
polars==0.18.15
pp-ez==0.2.0
pprintpp==0.4.0
premailer==3.10.0
proglog==0.1.10
prometheus_client==0.20.0
prompt-toolkit==3.0.43
Protego==0.3.1
protobuf==5.26.1
psutil==5.9.8
ptyprocess==0.7.0
pudb==2024.1
pure-eval==0.2.2
py-ball==1.41
py-mini-racer==0.6.0
py-spy==0.3.14
py4j==0.10.9.7
pyaes==1.6.1
pyarmor==8.5.2
pyarmor.cli.core==6.5.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
-e git+https://github.com/jldbc/pybaseball@b7ecf3c289c68c888280e51a0fecca89b6e4d29b#egg=pybaseball
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
pydata-sphinx-theme==0.15.2
PyDispatcher==2.0.7
pydub==0.25.1
pyflakes==3.2.0
pygame==2.5.2
PyGetWindow==0.0.9
PyGithub==2.3.0
Pygments==2.17.2
pyjanitor==0.27.0
PyJWT==2.8.0
pymdown-extensions==10.5
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynput==1.7.7
pyobjc==10.3.1
pyobjc-core==10.3.1
pyobjc-framework-Accessibility==10.3.1
pyobjc-framework-Accounts==10.3.1
pyobjc-framework-AddressBook==10.3.1
pyobjc-framework-AdServices==10.3.1
pyobjc-framework-AdSupport==10.3.1
pyobjc-framework-AppleScriptKit==10.3.1
pyobjc-framework-AppleScriptObjC==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-AppTrackingTransparency==10.3.1
pyobjc-framework-AudioVideoBridging==10.3.1
pyobjc-framework-AuthenticationServices==10.3.1
pyobjc-framework-AutomaticAssessmentConfiguration==10.3.1
pyobjc-framework-Automator==10.3.1
pyobjc-framework-AVFoundation==10.3.1
pyobjc-framework-AVKit==10.3.1
pyobjc-framework-AVRouting==10.3.1
pyobjc-framework-BackgroundAssets==10.3.1
pyobjc-framework-BrowserEngineKit==10.3.1
pyobjc-framework-BusinessChat==10.3.1
pyobjc-framework-CalendarStore==10.3.1
pyobjc-framework-CallKit==10.3.1
pyobjc-framework-CFNetwork==10.3.1
pyobjc-framework-Cinematic==10.3.1
pyobjc-framework-ClassKit==10.3.1
pyobjc-framework-CloudKit==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Collaboration==10.3.1
pyobjc-framework-ColorSync==10.3.1
pyobjc-framework-Contacts==10.3.1
pyobjc-framework-ContactsUI==10.3.1
pyobjc-framework-CoreAudio==10.3.1
pyobjc-framework-CoreAudioKit==10.3.1
pyobjc-framework-CoreBluetooth==10.3.1
pyobjc-framework-CoreData==10.3.1
pyobjc-framework-CoreHaptics==10.3.1
pyobjc-framework-CoreLocation==10.3.1
pyobjc-framework-CoreMedia==10.3.1
pyobjc-framework-CoreMediaIO==10.3.1
pyobjc-framework-CoreMIDI==10.3.1
pyobjc-framework-CoreML==10.3.1
pyobjc-framework-CoreMotion==10.3.1
pyobjc-framework-CoreServices==10.3.1
pyobjc-framework-CoreSpotlight==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-CoreWLAN==10.3.1
pyobjc-framework-CryptoTokenKit==10.3.1
pyobjc-framework-DataDetection==10.3.1
pyobjc-framework-DeviceCheck==10.3.1
pyobjc-framework-DictionaryServices==10.3.1
pyobjc-framework-DiscRecording==10.3.1
pyobjc-framework-DiscRecordingUI==10.3.1
pyobjc-framework-DiskArbitration==10.3.1
pyobjc-framework-DVDPlayback==10.3.1
pyobjc-framework-EventKit==10.3.1
pyobjc-framework-ExceptionHandling==10.3.1
pyobjc-framework-ExecutionPolicy==10.3.1
pyobjc-framework-ExtensionKit==10.3.1
pyobjc-framework-ExternalAccessory==10.3.1
pyobjc-framework-FileProvider==10.3.1
pyobjc-framework-FileProviderUI==10.3.1
pyobjc-framework-FinderSync==10.3.1
pyobjc-framework-FSEvents==10.3.1
pyobjc-framework-GameCenter==10.3.1
pyobjc-framework-GameController==10.3.1
pyobjc-framework-GameKit==10.3.1
pyobjc-framework-GameplayKit==10.3.1
pyobjc-framework-HealthKit==10.3.1
pyobjc-framework-ImageCaptureCore==10.3.1
pyobjc-framework-InputMethodKit==10.3.1
pyobjc-framework-InstallerPlugins==10.3.1
pyobjc-framework-InstantMessage==10.3.1
pyobjc-framework-Intents==10.3.1
pyobjc-framework-IntentsUI==10.3.1
pyobjc-framework-IOBluetooth==10.3.1
pyobjc-framework-IOBluetoothUI==10.3.1
pyobjc-framework-IOSurface==10.3.1
pyobjc-framework-iTunesLibrary==10.3.1
pyobjc-framework-KernelManagement==10.3.1
pyobjc-framework-LatentSemanticMapping==10.3.1
pyobjc-framework-LaunchServices==10.3.1
pyobjc-framework-libdispatch==10.3.1
pyobjc-framework-libxpc==10.3.1
pyobjc-framework-LinkPresentation==10.3.1
pyobjc-framework-LocalAuthentication==10.3.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3.1
pyobjc-framework-MailKit==10.3.1
pyobjc-framework-MapKit==10.3.1
pyobjc-framework-MediaAccessibility==10.3.1
pyobjc-framework-MediaLibrary==10.3.1
pyobjc-framework-MediaPlayer==10.3.1
pyobjc-framework-MediaToolbox==10.3.1
pyobjc-framework-Metal==10.3.1
pyobjc-framework-MetalFX==10.3.1
pyobjc-framework-MetalKit==10.3.1
pyobjc-framework-MetalPerformanceShaders==10.3.1
pyobjc-framework-MetalPerformanceShadersGraph==10.3.1
pyobjc-framework-MetricKit==10.3.1
pyobjc-framework-MLCompute==10.3.1
pyobjc-framework-ModelIO==10.3.1
pyobjc-framework-MultipeerConnectivity==10.3.1
pyobjc-framework-NaturalLanguage==10.3.1
pyobjc-framework-NetFS==10.3.1
pyobjc-framework-Network==10.3.1
pyobjc-framework-NetworkExtension==10.3.1
pyobjc-framework-NotificationCenter==10.3.1
pyobjc-framework-OpenDirectory==10.3.1
pyobjc-framework-OSAKit==10.3.1
pyobjc-framework-OSLog==10.3.1
pyobjc-framework-PassKit==10.3.1
pyobjc-framework-PencilKit==10.3.1
pyobjc-framework-PHASE==10.3.1
pyobjc-framework-Photos==10.3.1
pyobjc-framework-PhotosUI==10.3.1
pyobjc-framework-PreferencePanes==10.3.1
pyobjc-framework-PushKit==10.3.1
pyobjc-framework-Quartz==10.3.1
pyobjc-framework-QuickLookThumbnailing==10.3.1
pyobjc-framework-ReplayKit==10.3.1
pyobjc-framework-SafariServices==10.3.1
pyobjc-framework-SafetyKit==10.3.1
pyobjc-framework-SceneKit==10.3.1
pyobjc-framework-ScreenCaptureKit==10.3.1
pyobjc-framework-ScreenSaver==10.3.1
pyobjc-framework-ScreenTime==10.3.1
pyobjc-framework-ScriptingBridge==10.3.1
pyobjc-framework-SearchKit==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-SecurityFoundation==10.3.1
pyobjc-framework-SecurityInterface==10.3.1
pyobjc-framework-SensitiveContentAnalysis==10.3.1
pyobjc-framework-ServiceManagement==10.3.1
pyobjc-framework-SharedWithYou==10.3.1
pyobjc-framework-SharedWithYouCore==10.3.1
pyobjc-framework-ShazamKit==10.3.1
pyobjc-framework-Social==10.3.1
pyobjc-framework-SoundAnalysis==10.3.1
pyobjc-framework-Speech==10.3.1
pyobjc-framework-SpriteKit==10.3.1
pyobjc-framework-StoreKit==10.3.1
pyobjc-framework-Symbols==10.3.1
pyobjc-framework-SyncServices==10.3.1
pyobjc-framework-SystemConfiguration==10.3.1
pyobjc-framework-SystemExtensions==10.3.1
pyobjc-framework-ThreadNetwork==10.3.1
pyobjc-framework-UniformTypeIdentifiers==10.3.1
pyobjc-framework-UserNotifications==10.3.1
pyobjc-framework-UserNotificationsUI==10.3.1
pyobjc-framework-VideoSubscriberAccount==10.3.1
pyobjc-framework-VideoToolbox==10.3.1
pyobjc-framework-Virtualization==10.3.1
pyobjc-framework-Vision==10.3.1
pyobjc-framework-WebKit==10.3.1
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.8.2
pypinyin==0.51.0
pypng==0.20220715.0
PyQRCode==1.2.1
pyquery==2.0.0
pyreadr==0.5.0
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
pyspark==3.5.1
pystache==0.6.5
pyte==0.8.2
pyTelegramBotAPI==4.21.0
pytest==8.2.0
pytest-cov==5.0.0
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-rapidjson==1.19
python-telegram-bot==21.4
pythonbible==0.12.0
PythonQwt==0.12.1
PythonTurtle==0.3.2
pyttsx3==2.90
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
PyVirtualDisplay==3.0
pywebio==1.8.3
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.1
QtPy==2.4.1
Quandl==3.7.0
questionary==2.0.1
queuelib==1.6.2
referencing==0.35.0
regex==2024.7.24
requests==2.31.0
requests-cache==1.2.0
requests-file==2.0.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
rubicon-objc==0.4.8
salmon==0.2.0
scapy==2.5.0
schema==0.7.5
scikit-learn==1.4.1.post1
scipy==1.13.0
Scrapy==2.11.1
seaborn==0.13.2
selenium==4.20.0
Send2Trash==1.8.3
service-identity==24.1.0
setuptools==69.2.0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sorl-thumbnail==12.10.0
sortedcontainers==2.4.0
soupsieve==2.5
South==0.8.3
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sportsdataverse==0.0.39
sportsipy==0.6.0
sportsreference==0.5.2
sportypy==1.0.0
SQLAlchemy==2.0.31
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.37.2
static==1.1.1
statistics==1.0.3.5
stevedore==5.2.0
sympy==1.12
ta==0.11.0
TA-Lib==0.4.28
tabulate==0.9.0
telebot==0.0.5
Telethon==1.36.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
thefuck==3.32
threadpoolctl==3.4.0
tifffile==2024.2.12
tinycss2==1.2.1
tk==0.1.0
tldextract==5.1.2
tomli==2.0.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
traittypes==0.2.1
trio==0.25.0
trio-websocket==0.11.1
tritonclient==2.48.0
trypackage==0.3.0
Twisted==24.3.0
typed_ast==1.5.5
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
tzdata==2024.1
ua-parser==0.18.0
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.2.1
urwid==2.6.10
urwid_readline==0.14
user-agents==2.2.0
virtualenv==20.25.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
voila==0.5.6
w3lib==2.1.2
wcwidth==0.2.13
webcolors==24.6.0
webdriver-manager==4.0.1
webdriverdownloader==1.1.0.4
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.2
wheel==0.43.0
whisper==0.9.10
widgetsnbextension==4.0.10
wiki==0.11.1
wikipedia==1.4.0
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
xarray==2024.5.0
xgboost==2.0.3
xlrd==2.0.1
yagmail==0.15.293
yarg==0.1.9
yarl==1.9.4
yfinance==0.2.37
zope.interface==6.2
